/* Color palette */
/* 
    black - #020202;
    prussian blue - #0D324D
    Chinese Violet - #7F5A83
    Glossy Grape - A188A6
    Sliver Metallic - #9DA2AB
*/

/* Navigation section */
 body {
    background-color: #190005;
    font-family: sans-serif
 }

 #mainNavBar .navbar-brand {
    color: #ea1c2c;
 }

 #mainNavBar {
    font-size: 1.5rem;
    font-weight: 100;
 }

 #mainNavBar .nav-link {
    color: white;
 }

 #mainNavBar .nav-link:hover {
    color: #ea1c2c;
 }

 #heading-group span {
    color:#ea1c2c;
 }

 #heading-group h1 {
    font-weight: 100;
    font-size: 4rem;
 }

 @media (max-width: 1200px) {
    #heading-group h1 {
        font-weight: 100;
        font-size: 3rem
    }
 }